.room-list {
  width: 20%;
  background-color: lightgreen;
  color: white;
  & ul {
    list-style: none;
    overflow: scoll;
  }
  @media(max-width: 992px) {
    width: 50%;
  }
}
.room {
  margin: 10px auto;
  & a {
    font-weight: 600;
    text-decoration: none;
    color: gray;
    font-size: 20px;
  }
}
.roomactive a{
  color: white;
  font-weight: 600;
  text-decoration: none;
  font-size: 20px;
}
