.room-list {
  width: 20%;
  background-color: lightgreen;
  color: white;
  position: absolute;
  top: 0;
  bottom: 85px;
  left: 0;
  & ul {
    list-style: none;
    overflow: scoll;
    padding-left: 15px;
  }
  @media(max-width: 992px) {
    width: 30%;
  }
  @media(max-width: 576px) {
    width: 100%;
  }
}
.room {
  margin: 10px auto;
  & a {
    font-weight: 600;
    text-decoration: none;
    color: gray;
    font-size: 20px;
  }
}
.roomactive a{
  color: white;
  font-weight: 600;
  text-decoration: none;
  font-size: 20px;
}
